BEYVRA_EMAIL_DATABASE_URL_FILE=/run/secrets/database_url
BEYVRA_EMAIL_ISSUER=https://auth.codestra.co/realms/codestra
BEYVRA_EMAIL_AUDIENCE=codestra-email
BEYVRA_EMAIL_JWKS_URL=https://auth.codestra.co/realms/codestra/protocol/openid-connect/certs
BEYVRA_PROVIDER_WEBHOOK_SECRET_FILE=/run/secrets/provider_webhook_secret
POSTAL_WEBHOOK_SECRET_FILE=/run/secrets/postal_webhook_secret
POSTAL_WEBHOOK_TOKEN_FILE=/run/secrets/postal_webhook_token
KLYROW_OIDC_TOKEN_URL=https://auth.codestra.co/realms/codestra/protocol/openid-connect/token
KLYROW_OIDC_CLIENT_ID_FILE=/run/secrets/klyrow_oidc_client_id
KLYROW_OIDC_CLIENT_SECRET_FILE=/run/secrets/klyrow_oidc_client_secret
KLYROW_SEND_URL=https://klyrow.internal.codestra.agency:18000/v1/email/send
KLYROW_CA_FILE=/run/mtls/klyrow/root-ca.crt
KLYROW_CERT_FILE=/run/mtls/klyrow/client-fullchain.crt
KLYROW_KEY_FILE=/run/mtls/klyrow/client.key
LIVE_EMAIL_DELIVERY=false
BEYVRA_EMAIL_MIGRATION_AUTHORIZED=false
BEYVRA_EMAIL_PREDEPLOY_BACKUP_ID=
